  <%- include('./partials/header')%>
  <body class="d-flex flex-column vh-100">
      <%- include('./partials/navbar')%>
      <main class="container mt-5">
          <%- include('./partials/flash')%>
          <div class="row">
            <div class="col-6 offset-3">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%= err.message%></h4>
               
              </div>
            </div>
          </div>
         
      </main>
      <%- include('./partials/footer')%>
  